.summary-primo{
  width: 100%;
}

.summary-titre h1 {
    font-size: 44px;
    font-weight: 700;
    color: hsl(213, 100%, 16%);
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .summary-titre h5 {
    font-size: 18px;
    font-weight: 500;
    color: hsl(300, 1%, 66%);
    margin: 0;
    margin-bottom: 50px;
  }

.summary{
  width: 100%;
  height: auto;
  background-color: hsl(230, 75%, 98%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-bottom: 6%;
}

.summary-plan{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr{
  width: 85%; 
  height: 2px;
  background-color: hsl(240, 3%, 82%);
  margin-block: 5%;
}

.summary-total{
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.summary-content{
  width: 100%;
  display: flex;
  justify-content: center;
}

.summary-button-change{
  text-decoration: underline;
}

.summary-add{
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}

